<!-- footer -->
<footer>
    <div class="container">
        <p class="footer-info">© Made by Ckryo</p>
    </div>
    <!-- / container -->
</footer>
<!-- / footer -->
<!-- portfolio -->
<script src="//cdn.ckryo.com/blog/js/custom.js"></script>
<script src="//cdn.ckryo.com/blog/js/jquery.shuffle.min.js"></script>
<!-- lightbox -->
<script src="//cdn.ckryo.com/blog/js/jquery.magnific-popup.min.js"></script>
<!-- / lightbox -->
<!-- / portfolio -->
<!-- preloader -->
<script src="//cdn.ckryo.com/blog/js/preloader.js"></script>
<!-- / preloader -->
<!-- / javascript -->
<script src="/js/jquery.lettering.js"></script>
<script src="/js/jquery.textillate.js"></script>
<script>
$(function() {
    $('.tlt').textillate({
        in: {
            // set the effect name
            effect: 'fadeInLeftBig',

            // set the delay factor applied to each consecutive character
            delayScale: 1.5,

            // set the delay between each character
            delay: 50,

            // set to true to animate all the characters at the same time
            sync: false,

            // randomize the character sequence
            // (note that shuffle doesn't make sense with sync = true)
            shuffle: false,

            // reverse the character sequence
            // (note that reverse doesn't make sense with sync = true)
            reverse: false,

            // callback that executes once the animation has finished
            callback: function() {}
        },

        // out animation settings.
        out: {
            effect: 'hinge',
            delayScale: 1.5,
            delay: 50,
            sync: false,
            shuffle: false,
            reverse: false,
            callback: function() {}
        },

        // callback that executes once textillate has finished
        callback: function() {},

        // set the type of token to animate (available types: 'char' and 'word')
        type: 'char'
    });
});
</script>