<div id="header-banner" class="demo-1" <% if (theme.banner.background_image) { %> style="background-image: url(<%-theme.banner.background_image %>)" <% } %>>
    <div class="banner-content text-center">
        <div class="banner-info">
            <h1 id="banner-title"><%-theme.banner.title%></h1>
            <p id="banner-description" style="display: none" data-in-effect="rotateInUpRight">
                <%-theme.banner.description%>
            </p>
        </div>
        <!-- / banner-info -->
    </div>
    <!-- / banner-content -->
</div>