article.post-item .post-meta .post-date:before {
  content: '发表于：';
  display: inline-block;
  margin-right: 3px;
  color: #ccc;
}
article.post-item .post-meta .post-date {
    display: inline-block;
    font-size: 14px;
    line-height: 1.3;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

article.post-item .post-meta .post-author:before {
    content: '分类';
    margin-left: 10px;
    margin-right: 5px;
    display: inline-block;
    font-size: 11px;
    color: #ccc;
    text-decoration: none;
    padding-top: 10px;
}

article.post-item .post-meta .post-author {
    display: inline-block;
    font-size: 13px;
    color: #c39d6d;
    text-decoration: none;
    padding-top: 10px;
}

article.post-item .post-meta .post-author:hover {
    color: #c39d6d;
}

.post-tag {
    display: inline-block;
    font-size: 12px;
    font-weight: 900;
    color: #c39d6d;
    background-color: transparent;
    margin-left: 5px;
    margin-top: 10px;
}

.post-tag:before {
    content: '#';
    display: inline-block;
    margin-right: 2px;
}

.post-tag:hover {
    text-shadow: 0 3px 3px #c39d6d;
}

@media (min-width: 768px) {
    article.post-item {
        position: relative;
        padding-left: 126px;
    }

    article.post-item .post-meta {
        position: absolute;
        width: 100px;
        top: 0;
        left: 0;
        color: #fff;
        text-align: center;
        background-color: #333;
        padding: 18px 20px;
        cursor: pointer;
    }
    article.post-item .post-meta .post-date:before {
      display: none;
      content: '';
      margin: 0;
    }
    article.post-item .post-meta .post-date:before {
      display: block;
      color: #fff;
    }
    article.post-item .post-meta .post-author:before {
      display: block;
      margin: 0;
    }
    article.post-item .post-meta .post-author {
      display: block;
      color: #fff;
    }
}

.section-description {
    line-height: 24px;
}

pre,
.highlight {
    overflow: auto;
    margin: 20px 0;
    padding: 0;
    font-size: 13px;
    color: #4d4d4c;
    background: #f7f7f7;
    line-height: 1.6;
}

pre,
code {
    font-family: 'PT Mono', consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
    border: none;
}

code {
    padding: 2px 4px;
    word-wrap: break-word;
    color: #555;
    background: #eee;
    border-radius: 3px;
    font-size: 13px;
}

pre code {
    display: inline-block;
    padding: 10px 20px;
    color: #4d4d4c;
    background: none;
    text-shadow: none;
}

.highlight {
    border-radius: 1px;
}

.highlight pre {
    border: none;
    margin: 0;
    padding: 10px 0;
}

.highlight table {
    margin: 0;
    width: auto;
    border: none;
}

.highlight td {
    border: none;
    padding: 0;
}

.highlight figcaption {
    font-size: 1em;
    color: #4d4d4c;
    line-height: 1em;
    margin-bottom: 1em;
}

.highlight figcaption:before,
.highlight figcaption:after {
    content: " ";
    display: table;
}

.highlight figcaption:after {
    clear: both;
}

.highlight figcaption a {
    float: right;
    color: #4d4d4c;
}

.highlight figcaption a:hover {
    border-bottom-color: #4d4d4c;
}

.highlight .gutter pre {
    padding-left: 10px;
    padding-right: 10px;
    color: #869194;
    text-align: right;
    background-color: #eff2f3;
}

.highlight .code pre {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f7f7f7;
}

.highlight .line {
    height: 20px;
}

.gutter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gist table {
    width: auto;
}

.gist table td {
    border: none;
}

pre .deletion {
    background: #fdd;
}

pre .addition {
    background: #dfd;
}

pre .meta {
    color: #8959a8;
}

pre .comment {
    color: #8e908c;
}

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
    color: #c82829;
}

pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command {
    color: #f5871f;
}

pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .number,
pre .formula {
    color: #718c00;
}

pre .title,
pre .css .hexcolor {
    color: #3e999f;
}

pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
    color: #4271ae;
}

pre .keyword,
pre .javascript .function {
    color: #8959a8;
}