<style type="text/css">
.post-tab-header {
    width: 100%;
    padding: 5px 50px;
    height: 40px;
    margin-bottom: 10px;
}

.post-tab-header li {
    width: 50%;
    float: left;
    text-align: center;
    cursor: pointer;
    padding-bottom: 10px;
}

.post-tab-header li.active {
    color: #c39d6d;
    border-bottom: 1px solid #c39d6d;
}

.post-tab-content .post-tab-item {
    display: none;
}

.post-tab-content .post-tab-item.active {
    display: block;
}

@keyframes MinefadeInUp {
    from {
        opacity: 0;
        transform: translateY(45px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.MinefadeInUp {
    animation-name: MinefadeInUp;
}

ol,
ul,
li {
    list-style: none;
}

.post-toc {
    font-size: 14px;
    color: #666;
    overflow: auto;
}

.post-toc .nav-link {
    padding: 0px;
}

.post-toc ol {
    margin: 0;
    padding: 5px 0 5px 20px;
    text-align: left;
    list-style: none;
    font-size: 14px;
}

.post-toc ol>ol {
    padding-left: 0;
}

.post-toc ol a {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
    color: #666;
    border-bottom-color: #ccc;
}

.post-toc ol a:hover {
    color: #000;
    border-bottom-color: #000;
}

.post-toc .nav-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.8;
}

.post-toc .nav .nav-child {
    display: none;
}

.post-toc .nav .active>.nav-child {
    display: block;
}

.post-toc .nav .active-current>.nav-child {
    display: block;
}

.post-toc .nav .active-current>.nav-child>.nav-item {
    display: block;
}

.post-toc .nav .active>a {
    color: #c39d6d;
    border-bottom-color: #c39d6d;
}

.post-toc .nav .active-current>a {
    color: #c39d6d;
}

.post-toc .nav .active-current>a:hover {
    color: #c39d6d;
}
</style>
<!-- post sidebar area -->
<div class="col-md-3">
    <div class="blog-sidebar" data-spy="affix" data-offset-top="627">
        <ul class="post-tab-header">
            <li class="active" data-index="0">文章目录</li>
            <li data-index="1">站点概览</li>
        </ul>
        <div style="clear: both"></div>
        <div class="post-tab-content">
            <div id="post-scroll-spy" data-index="0" class="active post-tab-item animated MinefadeInUp">
                <div class="post-toc">
                    <%- toc(page.content, {class: 'nav'}) %>
                </div>
            </div>
            <div data-index="1" class="post-tab-item animated MinefadeInUp">
                <%-partial('_components/slidebar') %>
            </div>
        </div>
    </div>
</div>
<!-- / col-sm-4 col-md-3 -->
<!-- / post sidebar area -->
<script type="text/javascript">
$(function() {
    $('.post-tab-header').on('click', 'li', function() {
        if ($(this).hasClass('active')) return;
        $('.post-tab-header li').removeClass('active');
        $('.post-tab-content .post-tab-item').removeClass('active');
        $(this).addClass('active');
        var index = $(this).data('index');
        $('.post-tab-content').find('.post-tab-item[data-index=' + index + ']').addClass('active');
    });
});
</script>